.managers{
    min-height: 350px;
    padding: 60px 0 75px 0;
    background: url('../img/bg/manager-bg.jpg') center (center/cover) no-repeat;
    &__wrapper{
        text-align: center;
    }
    &__icon{
        margin-bottom: 20px;
    }
    &__subtittle{
        color: #ffffff;
        font-size: 26px;
        font-weight: 700;
        line-height: 23px;
        margin-bottom: 23px;
    }
    &__descr{
        color: #ffffff;
        font-size: 19px;
        font-weight: 300;
        line-height: 30px;
    }
}