@import "base/mixines.scss";
@import "base/variables.scss";
@import "bootstrap-reboot.min.scss";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto , sans-serif;
}
.container{
    width: 1140px;
    margin: 0 auto;
}

@import "blocks/promo.scss";
@import "blocks/buttons.scss";
@import "blocks/advantages.scss";
@import "blocks/tittles.scss";
@import "blocks/our-work.scss";